<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Blog</title>
    <link href="/style.css" rel="stylesheet" >
</head>
<body>
    <nav class=" text-white bg-[#333] w-full">
        <div class="mx-auto max-w-5xl  flex justify-between px-10 py-10">
        <div class="text-2xl bold">Blog</div>
        <div>
          <ul class="list-none p-0 flex">
            <li class="mr-10 list-none"><a href="/">Home</a></li>
            <li class="mr-10 list-none"><a href="/about">About</a></li>
            <li class="mr-10 list-none"><a href="/blog">Blog</a></li>
            <li class="mr-10 list-none"><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </nav>
    <main class=" bg-[url('/images/backgform.jpg')] w-full h-screen bg-cover bg-center">
        <div class="">
            <h1 class="text-center font-bold">My Blog</h1>
            <form method="post" action="/blog/create" class="max-w-md mx-auto mt-6 p-6 bg-gradient-to-r from-[#ffffffa1] to-[#ffffffa2] rounded-lg shadow-md">
                <label for="title" class="block text-gray-700">Title:</label>
                <input type="text" id="title" name="title" value="" class="w-full p-2 mt-1 border rounded-md">
              
                <label for="description" class="block mt-4 text-gray-700">Description:</label>
                <textarea id="description" name="description" class="w-full p-2 mt-1 border rounded-md"></textarea>
              
                <button type="submit" class="w-full mt-4 py-2 font-semibold text-white bg-indigo-500 rounded-md hover:bg-indigo-600 focus:ring focus:ring-indigo-400">Submit</button>
              </form>
        </div>
    </main>      
</body>
</html>
