<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link href="/style.css" rel="stylesheet" >
  </head>
  <body>
    <nav class=" text-white bg-[#333] w-full">
      <div class="mx-auto max-w-5xl  flex justify-between px-10 py-10">
        <div class="text-2xl bold">Blog</div>
      <div>
        <ul class="list-none p-0 flex">
          <li class="mr-10 list-none"><a href="/">Home</a></li>
          <li class="mr-10 list-none"><a href="/about">About</a></li>
          <li class="mr-10 list-none"><a href="/blog">Blog</a></li>
          <li class="mr-10 list-none"><a href="/contact">Contact</a></li>
        </ul>
      </div>
      </div>
    </nav>
    <main class=" bg-[url('/images/backgpost.jpg')] w-full h-screen bg-cover bg-center ">    
       <div class=" p-10 mx-auto max-w-5xl ">
        <h1 class="text-center font-bold">POST</h1>
        <div class="flex justify-end items-end ">
          <a  href="/blog/new">
            <button class=" bg-slate-600 w-24 lg:w-32 px-3 py-2 rounded-lg">
              Add Blog
            </button>
          </a>
        </div>
        <ul class="space-y-2">
          <% docs.forEach(function(doc){ %>
          <li class="bg-slate-300 rounded p-4 flex flex-col justify-between">
            <div class="">Blog Item - <%= doc.title %></div>
            <div class="flex gap-3 w-full ">
              <button class="">
                <a href="<%= '/blog/update/' + doc._id %>">
                  Update
                </a>
              </button>
              <button class="">
                <a href="<%= '/blog/delete/' + doc._id %>">
                 Delete
                </a>
              </button>
              <button class="">
                <a href="<%= '/blog/view/' + doc._id %>">
                  View
                </a>
              </button>
            </div>
          </li>
          <% }); %>
        </ul>
      </div>
       </div>
    </main>
  </body>
</html>
